/* MOBILE SCREEN */
@media screen and (max-width: 768px) {
  
}

@media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
@media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ }
@media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }



/* MOBILE SCREEN */

.menu-toggle{
    display: block;
    z-index: 999;
    position: absolute;
    right: 50px;
    top:10px;
    /* Backgound set image */
    background-image: url("https://img.icons8.com/ios/50/000000/menu-rounded.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/* SET ICON AFTER */
/* GET ICON FROM HERE:img.icons8.com */
.menu-toggle::after{
    content:" ";
    display: block;
    z-index: 999;
    position: absolute;
    right: 50px;
    top:10px;
    /* Backgound set image */
    background-image: url("https://img.icons8.com/ios/50/000000/menu-rounded.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}